In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlip.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv ')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
dataset=df.isnull().sum()
print(dataset)

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [7]:
df=df.drop(['id','date'],axis=1)
print(df.head())

      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  \
0  221900.0         3       1.00         1180      5650     1.0           0
1  538000.0         3       2.25         2570      7242     2.0           0
2  180000.0         2       1.00          770     10000     1.0           0
3  604000.0         4       3.00         1960      5000     1.0           0
4  510000.0         3       2.00         1680      8080     1.0           0

   view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
0     0          3      7        1180              0      1955             0
1     0          3      7        2170            400      1951          1991
2     0          3      6         770              0      1933             0
3     0          5      7        1050            910      1965             0
4     0          3      8        1680              0      1987             0

   zipcode      lat     long  sqft_living15  sqft_lot15
0    98178  47.5112 -122.257           1340        5650
1    98125  47.7210 -122.319           1690        7639
2    98028  47.7379 -122.233           2720        8062
3    98136  47.5208 -122.393           1360        5000
4    98074  47.6168 -122.045           1800        7503

In [11]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, train_size = 0.7,test_size=0.3)
train_x = train.loc[:, train.columns != 'price']
test_x = test.loc[:, test.columns !='price']

train_y = train['price']
test_y = test['price']

In [13]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
test_pred = model.predict(test_x)
result = pd.DataFrame({'Actual_price':test_y,'predicted-price':test_pred})

In [16]:
print (result)

       Actual_price  predicted-price
17765      410000.0     4.982712e+05
9113       660000.0     8.890963e+05
8833       249000.0     2.511755e+05
6384       437000.0     4.407257e+05
19525      500000.0     5.028940e+05
17185      300000.0     2.191333e+05
10450      402500.0     3.757412e+05
1940       240000.0     2.038065e+05
16369      580000.0     4.520262e+05
7382       880000.0     6.880812e+05
2016       156000.0     3.555627e+04
18862      740000.0     6.953757e+05
21364      419500.0     3.959270e+05
21251      505000.0     5.787069e+05
1056       379000.0     3.946064e+05
20828     1900000.0     9.947339e+05
5802       460000.0     5.368084e+05
13040      777700.0     6.381683e+05
19567      226000.0     1.382208e+05
8856       470000.0     7.501570e+05
10566      502000.0     6.208195e+05
1032       554000.0     5.449020e+05
8812       800000.0     8.152370e+05
19847      519000.0     6.477980e+05
6557       121800.0     6.886663e+04
19983      479000.0     3.969526e+05
19669      299900.0     3.867817e+05
8638      4489000.0     1.793606e+06
15035      229000.0     1.794844e+05
16784      350000.0     2.989389e+05
...             ...              ...
17173      435000.0     6.734810e+05
10993      326000.0     6.117931e+05
2486      1012000.0     8.008495e+05
13108      287200.0     2.615568e+05
3228       350000.0     7.240812e+05
4653       296000.0     2.214262e+05
13699      580000.0     6.009364e+05
11098      435000.0     6.030282e+05
13325      350000.0     4.868424e+05
14480      349990.0     2.682023e+05
7858       475000.0     6.824151e+05
11519      607000.0     4.001228e+05
14795      190000.0     1.624371e+05
11735      400000.0     5.766494e+05
6143       260000.0     1.647801e+05
19447      310000.0     2.761336e+05
17051      190000.0     1.665954e+05
10127      456000.0     3.503619e+05
4601       535000.0     4.011153e+05
17162      231000.0     2.451560e+05
7510       390000.0     5.786493e+05
21522      462500.0     3.164721e+05
20029      555000.0     3.309685e+05
16289      295500.0     2.180761e+05
21390      300000.0     3.436069e+05
14677      470000.0     7.208377e+05
10716      392000.0     1.999660e+05
2984       765000.0     9.488073e+05
18838      540000.0     5.024254e+05
14302      223000.0     2.450421e+05

[6484 rows x 2 columns]

In [17]:
from sklearn.metrics import r2_score
print(r2_score(test_y,test_pred)*100)

70.62621257798374